.log-form {
  margin: 7rem auto;
  max-width: 25rem;
  width: 80%;
}

.log2 {
  text-align: center;
  margin-top: -6rem !important;
}

.log2 p {
  margin-bottom: -0.09rem;
}

.agree {
  font-size: 14px;
}
